body{
    background-image:url(../images/congruent_pentagon.png);
}

*/
.row{
    margin-top: 10px;
    height: 200px;
}

.upper{
    height: 300px;
    margin-top: 20px;
}

.lower{
    height: 250px;
}

.crystal{
    margin-top: 20px;
}

.thumbnail:hover {
    opacity: 0.6;
    } 

.btn{
    margin-left: 10px;
}

#info{
    margin-top: 130px;
    text-align: left;
}

#left{
    background-color: #e5ffd1;
}

#right{
    background-color: #99fdc9;
}